html
{
  background-color: #A9A9A9;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
h1
{
  font-size: 60px;
  text-align: center;
}
p, li
{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}
#my-pic
{
  position:absolute;
  min-width: 5%;
  min-height: 5%;
  max-width: 35%;
  max-height: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-body
{
  position: relative;
  left:30px;
  top:500px;
}